-w @config.config
-X POST
url = "https://aesolemne3.herokuapp.com/api/curso"
-H "Accept: application/json"
-H "Cache-Control: no-cache"
-H "Content-Type: application/json"
-d "{ \"nombre\" : \"7Z\", \"profesor\": \"Prof. Roza\", \"descripcion\" : \"Prueba generica\", \"nivel\": 7, \"basica\" : false, \"diurno\" : false }"